<h2><%= @list.name %></h2>


<ul class="list-group">
  <% @list.movies.each do |movie| %>
    <li class="list-group-item"><%= movie.title %></li>
  <% end %>
</ul>

<ul class="list-group">
  <% @list.bookmarks.each do |bookmark| %>
    <li class="list-group-item"><%= bookmark.comment %> <%= link_to "Delete bookmark", bookmark_path(bookmark.id), method: :delete, data: { confirm: "Are you sure?" } %></li>
  <% end %>
</ul>

<%= link_to 'Create Bookmark', new_list_bookmark_path(@list) %> |
<%= link_to 'Back', lists_path %> |
<%= link_to "Delete List", list_path(@list), method: :delete, data: { confirm: "Are you sure?" } %>
<a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/lists/2"></a>
